{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1> Home </h1>
    {{ render_ssi(controller('App\\Controller\\HomeController::soSlowFragment')) }}
{% endblock %}
